<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
        
  <div class="container">
    <section> <!--Section Primer Nivel-->
      <div class="row"> <!--Inicio row-->
        <!--Slider-->
        <div class="col-lg-9">
          <section id="miSlide" class="carousel slide">
            <ol class="carousel-indicators">
              <li data-target="#miSlide" data-slide-to="0"></li>
              <li data-target="#miSlide" data-slide-to="1"></li>
              <li data-target="#miSlide" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
              <div class="item active">
                <img src="img/img1.jpg" class="adaptar">
              </div>
              <div class="item">
                <img src="img/img2.jpg" class="adaptar">
              </div>
              <div class="item">
                <img src="img/img3.jpg" class="adaptar">
              </div>
              <div class="item">
                <img src="img/img4.jpg" class="adaptar">
              </div>
            </div>
            <a href="#miSlide" class="left carousel-control" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a href="#miSlide" class="right carousel-control" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </section><br>
        </div>
        <!--Fin Slider-->
        <!--Barra-->
        <div class="col-lg-3 color2">
          <h3>Yanapa Volunteering</h3><hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, voluptatibus quam perferendis eum at explicabo labore pariatur amet voluptatum. Fugiat, modi libero perspiciatis non iusto blanditiis voluptates architecto ducimus recusandae.</p>
        </div>
        <!--Barra-->
      </div> <!--Inicio row-->
    </section> <!--Fin Section Primer Nivel-->
  
    <section>
      <div class="row">
        <div class="container col-xs-12 col-sm-6 col-md-9 col-lg-9 color2">
          <ul class="nav nav-tabs">
            <li class="active" data-toggle="tab"><a href="#uno">Uno</a></li>
            <li><a href="#dos" data-toggle="tab">Dos</a></li>
            <li><a href="#tres" data-toggle="tab">Tres</a></li>
          </ul>

          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="uno">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, consequuntur ipsum optio sapiente dolorum quidem vero nihil quisquam amet dolore. Perferendis, iste veniam omnis accusantium culpa blanditiis ea quae facere!</p>
            </div>
            <div class="tab-pane fade" id="dos">
              <p>2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, molestiae, culpa, architecto, voluptatum provident ducimus laboriosam a itaque perferendis commodi eligendi magnam neque et ratione mollitia nihil velit delectus recusandae.</p>
            </div>
            <div class="tab-pane fade" id="tres">
              <p>3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, molestiae, culpa, architecto, voluptatum provident ducimus laboriosam a itaque perferendis commodi eligendi magnam neque et ratione mollitia nihil velit delectus recusandae.</p>
            </div>
          </div>
        </div>

        <div class="hidden-sm col-xs-6 col-md-3 col-lg-3 color2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, qui, voluptas, vitae pariatur nihil odit porro repellat quidem voluptatibus corporis fugit consequuntur. Quas, quia, perspiciatis iste modi quos veniam quam.
        </div>
      </div>
    </section>


  </div> <!--div cointainer-->
